

<div class="main-container">


<div class="d-flex flex-col justify-content-between">

  <div class="col ">
   <p><strong>Name:</strong>
      <%= @cocktail.name %>
      </p>
    <p><%= "#{@dose.description} #{@dose.ingredient}" %>
  </p>

   <% @cocktail.doses.each do |dose| %>
    <p>
      <%= "#{dose.ingredient.name} #{dose.description}" %>
      <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Sure?'}, class: "btn btn-outline-secondary" %>
    </p>
  <% end %>
  </div>


    <div class="col ">
  <img class="img", alt="Le Wagon"

       src="https://images.unsplash.com/photo-1541807456792-67393c00912c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1347&q=80%27" />
  </div>
</div>















 <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <p><strong>Add doses to the cocktail:</strong></p>

      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, placeholder: "describe your dose" %>
      <%= f.association :ingredient %>
      <%= f.submit "add dose", class: "btn btn-outline-secondary" %>
      <% end %>
      </div>
    </div>
  </div>
  </div>




  </div>
</div>
