<div class="main-container">
  <div class="containerbox">
    <div class="item ">
     <h2><strong><%= @cocktail.name %></strong>
     </h2>
     <br>
     <h4><strong>Ingredients:</strong></h4>
      <p><%= "#{@dose.description} #{@dose.ingredient}" %>
      </p>
        <% @cocktail.doses.each do |dose| %>
        <p>
        <%="#{dose.ingredient.name}: #{dose.description}" %>
        <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Sure?'}, class: "btn btn-outline-secondary" %>
       </p>
        <% end %>
    </div>


      <div class="item ">
        <%= cl_image_tag("old-fashioned-cocktail_uw8u5y",
      width: 400, height: 300, crop: :fill) %>
      </div>

      <div class="separator"></div>



      <div class="item" style="width: 800px">
        <h3><strong>About your cocktail:</strong></h3>

        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "describe your dose" %>
        <%= f.association :ingredient %>
        <%= f.submit "Add", class: "btn btn-outline-secondary" %>
        <% end %>
        <br>
        <%= link_to 'Delete cocktail', cocktail_path(@cocktail), method: :delete, class: "btn btn-outline-secondary" %>
      </div>
 </div>
</div>






